body {
  margin: 0 20px;
  background: #141625;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

nav {
  color: white;
  margin-top: 10px;
}

li {
  list-style: none;
  color: white;
}

a {
  text-decoration: none;
  padding: 10px;
}

a:visited {
  color: white;
}

a:hover {
  transition: 2s all;
  transform: translateY(4px);
  border: 1px solid transparent;
  opacity: 0.8;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

input[type="text"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

button[type="submit"],
input[type="text"] {
  background: rgb(79, 98, 148);
  color: white;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

input[type="submit"]:hover {
  background: white;
  color: black;
  transition: 1s all;
  transform: translateY(4px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

button {
  background: rgb(79, 98, 148);
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
  display: block;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  width: 100%;
}

button:hover {
  background: rgb(21, 54, 138);
  transition: 1s all;
  transform: translateY(4px);
  border: 1px solid transparent;
  opacity: 0.8;
}

label {
  padding-left: 10px;
}

div.cards {
  border: solid 1px white;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 30px;
  position: relative;
  padding-bottom: 30px;
  /* background-image: url("/public/rainy.gif"); */
}

p {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-left: 40px;
}

button.favoriteButton {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 5px;
  right: 50px;
  font-weight: bold;
  font-size: 50px;
  padding-left: 30px;
  background-color: rgb(238, 202, 83);
}

button.storageButton {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 190px;
  right: 50px;
  font-weight: bold;
  font-size: 50px;
  padding-left: 30px;
  background-color: rgba(206, 38, 38, 0.781);
}

img {
  height: 100px;
  width: 100px;
}

p#cityName {
  font-weight: bold;
  font-size: 50px;
}

span.descriptionTitle {
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  border-left: solid rgb(0, 0, 0, 0.2) 1px;

  padding: 10px;
  color: rgb(135, 159, 221);
}

span.actualWeather {
  border-top: solid rgb(0, 0, 0, 0.2) 1px;
  border-right: solid rgb(0, 0, 0, 0.2) 1px;
  padding: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 0px;
  right: 20px;
}

.footer > p {
  color: white;
  font-size: 10px;
  margin: 100px 5px;
}
